#
//  unitTests.yml
//  Altroo
//
//  Created by Marcelle Ribeiro Queiroz on 07/11/25.
//

name: iOS Unit Tests

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  test:
    runs-on: macos-14
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: Install dependencies
        run: bundle install

      - name: Run Fastlane unit tests
        env:
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 20
          FASTLANE_XCODEBUILD_SETTINGS_RETRIES: 6
          CI: true
        run: bundle exec fastlane unit_test skip_package_dependencies_resolution:true

